.buhara-header {
  padding-bottom: 60px;
  .row {
    margin-top: 20px;
    background-color: #5caccf;
    height: 180px;
  }

  &--logo {
    position: relative;
    top: 30px;
    @include media-breakpoint-down(md) {
      max-width: 290px;
    }
  }
}
